html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("paper\ copy.jpg");
    font-family: verveine, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
h1{
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 170px;
    margin-top: 10vw;
    color: darkred;
}

h2{text-align: center;
    font-family: hey-eloise, sans-serif;
   font-weight: 400;
   font-style:normal;
   font-size: 110px;
    margin: 0;
    margin-bottom: 50px;}
   



header{
    background-color: rgb(164, 163, 163);
	  width:100%;	
      opacity:70%;
    position: fixed;
    top:0;
    left: 0;
    padding-left: 2vw;
}

ul img {
    width: 60%;
}

ul li {
    padding: None;
}

.center{
    width: 700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{margin: 0;}


.ingredients{
    display: flex;
    flex-direction: row;
    height: 100vw;
    width: 98vw;
    gap: 5vw;
    max-height: 30vw;
    flex-wrap: wrap;
    justify-content: center;
    }

 .ingredientitems{
    width: 20vw;
    text-align: center;
    
 }

 img{width: 20vw}

.info {
    padding-left: 2vw;
    justify-content: center;
    display: flex;
         flex-direction: column;
    font-size: 40px;
    margin-top: 25vw;
}

.text {
    background-color: rgb(164, 163, 163);
    opacity: 40%;
    max-width: fit-content
    
}

footer{
    padding-top: 2vw;
}

a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(98, 98, 98);
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
}

.previous{float: left;}
.next{float: right;}

@media screen and (max-width:700px){

 .ingredients{
        max-height: 30vw;
         width:100vw;}

  .ingredientitems{
            width: 50vw;}

     .info{margin-top: 250vw;}   

h1 {font-size: 130px;
    margin-bottom: 5vw;}
h2{font-size:  80px; 
    margin-bottom: 2vw;}
body{font-size: 30px;}
.text{font-size: 30px;}
.center{width: 70vw;
        height: 70vw;}
footer{text-align: center;}
}
