body {
    background-image: url("paper\ copy.jpg");
   }
   h1 {
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 150px;
}
h2 {
    text-align: center;
     font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 120px;
}

body {
font-family: verveine, sans-serif;
font-weight: 200;
font-style: normal;
font-size: 30px;
padding-left: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }