body {
    background-color:grey;}

.recipes{font-family: pedestria-mvb, sans-serif;
    font-style: normal;
    font-size: 150px;
    text-align: center;
    color: grey;
    border-radius: 20vw;}

    /* .recipebox{
    background-image: url(paper.jpg);
    } */
