body {
    background-image: url("paper.jpg");
   }
   h1 {
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 150px;
}
h2 {
    text-align: center;
     font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 120px;
}

body {
font-family: verveine, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 30px;
padding-left: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

  a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(98, 98, 98);
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
}
