body {
    background-image: url("paper.jpg");
   }
   h1 {
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 300px;
}
h2 {
    text-align: center;
     font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 200px;
    padding-bottom: 5vw;
}

body {
font-family: verveine, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 50px;
}


  a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(98, 98, 98);
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
}
.grid-container{
   height: 100vh;
   width: 98vw;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   grid-template-rows:min-content;
   gap: 5vw;
}

.grid-item{
  width: 20vw;
  text-align: center;
  
}

img{max-width: 130%;}

