body {
    background-image: url("paper\ copy.jpg");
    font-family: verveine, sans-serif;
    font-weight: 200;
   font-style: normal;
   font-size: 30px;
   max-width: 100vw;
   }

  

   h1 {
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 180px;
}
h2 {
    text-align: center;
     font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 120px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#flexbox {display: flex;}
  aside { height:fit-content;
    background-color: rgb(164, 163, 163);
    /* float: right;
    margin-right: 20px; */
    width: 70vw;
    opacity:50%;
  }
  
  .list {width: 30vw}
  .list img{width: 25vw;
            height: 25vw;}

  .menu {
    background-color: rgb(164, 163, 163);
	position: sticky;
	top:10px;
	width:100%;	
  opacity:70%;
  padding: 0px;
}


a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(98, 98, 98);
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
}

@media(max-width:400px){
  #flexbox {display: block;}
  aside{ width: 100vw;

    /* float: left;
    margin-left: 20px; */
  }
  
}
/* (min-width:500 px) */

