body {
    background-image: url("paper\ copy.jpg");
    font-family: verveine, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    padding: None;
    margin: None;
}
h1{
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 170px;
    margin-top: 10vw;
    color: darkred;
}

h2{text-align: center;
    font-family: hey-eloise, sans-serif;
   font-weight: 400;
   font-style:normal;
   font-size: 110px;
    margin: 0;}
   



header{
    background-color: rgb(164, 163, 163);
	  width:100%;	
      opacity:70%;
    position: fixed;
    top:0;
    left: 0;
    padding-left: 2vw;
}

ul img {
    width: 60%;
}

ul li {
    padding: None;
}

.center{
    width: 700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


section{
    display: flex;
    flex-direction: row;
    height: 100vw;
    width: 100vw;
    justify-content: space-around;
    max-height:30vw;
    
}

 .ingredientitems{
    width: 20vw;
    text-align: center;
 }

 img{max-width: 100%;}

.info {
    font-size: 40px;
}

.text {
    background-color: rgb(88, 91, 91);
    opacity: 40%;
}

a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(98, 98, 98);
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
}



@media(max-width:400px){
    .stuff {
        flex-direction: column; }
h1 {font-size: 130px;}
h2{font-size:  80px; }
body{font-size: 30px;}
.text{font-size: 30px;}
.center{width: 350px;
        height: 350px;}
 ul li {
            padding: 10px;
        }       
}