body {
    background-image: url("paper\ copy.jpg");
    font-family: verveine, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    padding: None;
    margin: None;
}
h1{
    text-align: center;
    font-family: hey-eloise, sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 170px;
}

h2{text-align: center;
    font-family: hey-eloise, sans-serif;
   font-weight: 400;
   font-style:normal;
   font-size: 110px;}
   


.menu {
    background-color: rgb(164, 163, 163);
	  position:sticky;
	  width:100%;	
      opacity:70%;
  
}

ul img {
    width: 60%;
}

ul li {
    padding: None;
}

.center{
    width: 700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stuff {
    display: flex;
    margin: 0 auto;
    
}

.icons {
    padding-right:200px;
    width: 50%;
}

.info {
    font-size: 40px;
}

.text {
    background-color: rgb(88, 91, 91);
    opacity: 40%;
}

a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(98, 98, 98);
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
}



@media(max-width:400px){
    .stuff {
        flex-direction: column; }
h1 {font-size: 130px;}
h2{font-size:  80px; }
body{font-size: 30px;}
.text{font-size: 30px;}
.center{width: 350px;
        height: 350px;}
 ul li {
            padding: 10px;
        }       
}