body {
    background-color:rgb(198, 96, 242);
    margin-right: 2vw;
  }

  h1{font-family: pedestria-mvb, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 140px;
    text-align: center;
    color:rgb(202, 249, 152);
    padding-bottom: 2vw;
    } 

 h2{font-family: pedestria-mvb, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: left;
    padding-left: 2vw;
    color:rgb(162, 237, 83)
    } 

p{font-family: elza-text, sans-serif;
  font-weight: 400;
  font-style: normal; 
 font-size: 30px;
 text-align: left;
 color:  rgb(224, 224, 66);
 padding-left: 5vw;
 padding-bottom: 2vw;
padding-top: 1vw;}
  
.last{font-style:italic;
      padding-top: 2vw;}

footer{font-family: pedestria-mvb, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color:rgb(202, 249, 152) ;
  margin-left: 2vw;
  margin-bottom: 3vw;
  align-content:left;}


@media only screen and (max-width: 700px)
{h1{font-size: 80px;}
h2{font-size: 50px;}
p{font-size: 20px;
  padding-top: 2vw;}
.last{padding-top: 3vw;}
br {display: none;}}