body {
    background-color: rgb(224, 224, 66);
    margin: 0;
  }

 h1{font-family: pedestria-mvb, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200px;
    text-align: center;
    color:rgb(191, 83, 237)
    } 

p{font-family: elza-text, sans-serif;
  font-weight: 400;
  font-style: normal; 
 font-size: 20px;
text-align: center;
 color:rgb(191, 83, 237);}
  
footer{font-family: pedestria-mvb, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: 2vw;
  margin-bottom: 3vw;
  align-content:left;
  color:rgb(191, 83, 237);}

.about
 {display: flex;
  flex-direction:row;
  height: 100vw;
  width: 100vw;
  max-height: 30vw;
  animation-name: pictures;
  animation-duration: 4s;
  animation-iteration-count: infinite;}

.mypicture
{width: 20vw;
  overflow: hidden;
 height: 25vw;}

img{max-width:100%;}

video{max-width: 40vw;
  max-height: 30vw;}

.video-container
{ display: flex; 
  justify-content:center;
  margin-top: 3vw;}

  a:link {
    color: rgb(58, 57, 57);
  }
  
  a:visited {
    color: rgb(191, 83, 237);;
  }
  
  a:hover {
    color: rgb(213, 167, 190);
  }
  
    a:link {text-decoration: none;
  }
 

