body {
    background-color: rgb(224, 224, 66);
    margin: 0;
  }

 h1{font-family: pedestria-mvb, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200px;
    text-align: center;
    } 

p{font-family: elza-text, sans-serif;
  font-weight: 400;
  font-style: normal; 
 font-size: 20px;}
  
  /* header{
      font-family: elza-text, sans-serif;
      font-weight: 400;
      font-style: normal;
      background-color: rgb(198, 108, 6);
      width:100%;	
        opacity:70%;
      position: fixed;
      top:0;
      left: 0;} */

.about
 {display: flex;
  flex-direction:row;
  height: 100vw;
  width: 100vw;
  max-height: 30vw;
  animation-name: pictures;
  animation-duration: 4s;
  animation-iteration-count: infinite;}

.mypicture
{width: 20vw;
  overflow: hidden;
 height: 26vw;}

img{max-width:100%;}

@keyframes pictures {
  0%   {left:0px; top:0px;}
  25%  {left:20vw; top:0px;}
  50%  {left:40vw; top:0px;}
  75%  {left:60vw; top:0px;}
  100% {left:80vw; top:0px;}
}
